﻿@page
@model PrivacyModel
@{
 }  





<table class="table">
    <thead>
        <tr>
            <th>Node</th>
            <th>Resource</th>
            <th>Value</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Nodes)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TStamp)
            </td>

        </tr>
        }
    </tbody>
</table>

